html, body {
  min-width: 320px;
  height: 3000px;
  /* height: 100%; */
}

body {
  color: #fefefe;
  background: -moz-linear-gradient(25deg, #ffecd2, #fcb69f);
  background: -webkit-linear-gradient(25deg, #ffecd2, #fcb69f);
  background: linear-gradient(65deg, #ffecd2, #fcb69f);
}

.wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -137px;
}

.hello_world {
  font-size: 3rem;
  line-height: 100%;
}

.to_top {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  border: 1px solid #fefefe;
  text-align: center;
  line-height: 48px;
}
